<%- include("partials/header") %>


<div class="ui main text container segment">
  <h2 class="ui huge header" id="bb"><%-blog.title%></h2>
  <div ><img src="<%=blog.img%>" class="img1"></div>
   <div>
       <span> <%=blog.created.toDateString()%></span>
    </div>
  
   <br></br>
       <p> <%-blog.body%></p>

       <!-- <a  class="ui blue basic button" href="/blog/<%=blog._id%>/edit">Edit</a>
       <form action="/blog/<%=blog._id%>?_method=DELETE" method="POST">

         <button class="ui red basic button">Delete</button>

       </form> -->

	


<%- include("partials/footer") %>